<section>
  <div>
    <h1>About me</h1>
    <span>{{ introduction }}</span>
    <div class="aboutMeContentBox">
      <div>
        <img src="assets/img/icons/lightBulbIcon.svg" alt="" /><span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          similique quos temporibus corporis. Officiis voluptas provident
          quibusdam? </span
        >
      </div>
      <div>
        <img src="assets/img/icons/puzzleIcon.svg" alt="" /><span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
          tempore incidunt tempora molestiae ab praesentium at soluta eum sint
          distinctio.</span
        >
      </div>
    </div>
  </div>
  <div>
    <div class="roundImgRightBox"></div>
    <div class="borderLineRight"></div>
  </div>
</section>
