@import "./../../styles.scss";

header{
  // top: 0;
  // position: absolute;
  background-color: $backgroundColor;
  margin: 0;
  @include dFlex($jc: space-between,);
  max-height: 32px;
  height: 100%;
  padding: 37px 100px;
  width: 100%;
  max-width: calc(100% - 2 * 100px);
  >div{
    @include dFlex($jc: space-between, $g: 29px);
    width: 100%;
    max-width: 324px;
    max-height: 32px;
    height: 100%;
    >a{
      font-weight: 400;
      font-size: 23px;
      &:hover{
        transition: ease-in-out 200ms;
        color: $blueText;
      }
    }
  }

}

a{
  font-style: none;
  color: white;
  text-decoration: none;
}

.nameLogo{
  width: 150px;
  height: 28px;
}
