<section>
  <main>
    <div class="headlineBox">
      <div>
        <h2>Portfolio</h2>
      </div>
      <span>{{ exploreHtml }}</span>
    </div>
    <div class="projectsBox">
      <div
        class="project"
        *ngFor="let project of projects; let i = index"
        [ngStyle]="{ 'flex-direction': i % 2 === 0 ? 'row' : 'row-reverse' }"
      >
        <div>
          <img [src]="project.projectImg" alt="" />
        </div>
        <div>
          <h3>{{ project["projectName"] }}</h3>
          <h4>{{ project["projectTechnologie"] }}</h4>
          <span>{{ project["projectDescription"] }}</span>
          <div class="buttonBox">
            <a href="" class="purpleButton">Live test</a>
            <a
              href="{{ project.projectGitHub }}"
              target="_blank"
              class="transparentButton"
              >Github</a
            >
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="shadowBox">
    <img src="assets/img/shadows/projectsShadow.svg" alt="" />
  </div>
</section>
