<section id="projects">
  <div class="headlineBox" data-aos="fade-right">
    <div>
      <div class="customLineLeftBox">
        <div class="customLineLeftEmpty"></div>
        <div class="customLineLeft"></div>
      </div>
      <h2>Portfolio</h2>
      <div class="customLineRight"></div>
    </div>
    <span class="description">{{ "portfolio.exploreHtml" | translate }}</span>
  </div>
  <div class="main">
    <div class="projectsBox">
      <div
        class="project"
        *ngFor="let project of projects; let i = index"
        [ngStyle]="{ 'flex-direction': i % 2 === 0 ? 'row' : 'row-reverse' }"
      >
        <div
          data-aos="flip-up"
          data-aos-duration="500"
          class="projectImg"
          [style.background-image]="
            'url(assets/img/projects/' + project['projectImg'] + ')'
          "
        ></div>
        <div
          data-aos="flip-down"
          data-aos-duration="500"
          [ngStyle]="{ 'align-items': i % 2 === 0 ? 'start' : 'end' }"
          class="mediaCenter"
        >
          <h3>{{ project["projectName"] }}</h3>
          <h4>{{ project["projectTechnologie"] }}</h4>
          <span>{{ project["projectDescription"] | translate }}</span>
          <div class="buttonBox">
            <a href="" class="purpleButton">Live test</a>
            <a
              href="{{ project.projectGitHub }}"
              target="_blank"
              class="transparentButton"
              >Github</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadowBox">
    <img src="assets/img/shadows/projectsShadow.svg" alt="" />
  </div>
</section>
