<header>
  <div data-aos="fade-down">
    <a href="#landingpage" class="logoIconLink"><img src="assets/img/logo/logoTim.svg" alt="" /></a>
    <div class="headlineMenu">
      <a
        href="#aboutMe"
        class="headerLink"
        (click)="activateLink('aboutMe')"
        [class.activeLink]="linkAboutMeActive"
        >{{ "header.aboutMe" | translate }}</a
      >
      <a
        href="#skills"
        class="headerLink"
        (click)="activateLink('skills')"
        [class.activeLink]="linkSkillsActive"
        >{{ "header.skills" | translate }}</a
      >
      <a
        href="#projects"
        class="headerLink"
        (click)="activateLink('projects')"
        [class.activeLink]="linkProjectsActive"
        >{{ "header.portfolio" | translate }}</a
      >
      <div class="languageButtonBox">
        <button
          name="deButton"
          class="languageButton"
          [class.selectedLanguage]="languageDeSelected"
          (click)="changeLanguage('de')"
        >
          DE
        </button>
        <span style="color: white">|</span>
        <button
          name="enButton"
          class="languageButton"
          [class.selectedLanguage]="!languageDeSelected"
          (click)="changeLanguage('en')"
        >
          EN
        </button>
      </div>
    </div>
    <div class="box">
      <div
        [ngClass]="{ active: buttonActive, 'not-active': !buttonActive }"
        (click)="toggleBurgerMenu()"
      >
        <span class="buttonLine"></span>
        <span class="buttonLine"></span>
        <span class="buttonLine"></span>
      </div>
    </div>
  </div>
  <div class="burgerMenuOpen" [class.displayFlex]="burgerMenu">
    <div class="burgerMenuCloseIcon" (click)="toggleBurgerMenu()"></div>
    <a
      class="headerLink"
      href="#aboutMe"
      (click)="activateLink('aboutMe')"
      [class.activeLink]="linkAboutMeActive"
      >{{ "header.aboutMe" | translate }}</a
    >
    <a
      class="headerLink"
      href="#skills"
      (click)="activateLink('skills')"
      [class.activeLink]="linkSkillsActive"
      >{{ "header.skills" | translate }}</a
    >
    <a
      class="headerLink"
      href="#projects"
      (click)="activateLink('projects')"
      [class.activeLink]="linkProjectsActive"
      >{{ "header.portfolio" | translate }}</a
    >
    <a
      class="headerLink"
      href="#contact"
      (click)="activateLink('contact')"
      [class.activeLink]="linkContactActive"
      >{{ "header.contact" | translate }}</a
    >
    <div class="languageButtonBox languageButtonBoxBurgerMenu">
      <button
        name="deButton"
        class="languageButton"
        [class.selectedLanguage]="languageDeSelected"
        (click)="changeLanguage('de')"
      >
        DE
      </button>
      <span style="color: white">|</span>
      <button
        name="enButton"
        class="languageButton"
        [class.selectedLanguage]="!languageDeSelected"
        (click)="changeLanguage('en')"
      >
        EN
      </button>
    </div>
  </div>
</header>
