<section id="skills">
  <main>
    <button class="blueButton mediaButton">{{ "mySkills.button" | translate }}</button>
    <div class="skillIconBox">
      <div *ngFor="let icon of skillIcons; let i = index">
        <img src="assets/img/icons/{{ icon }}" alt="" />
        <span>{{ skillNames[i] }}</span>
      </div>
    </div>
    <div class="skillTextBox">
      <h2>{{ "mySkills.headline" | translate}}</h2>
      <span>{{ "mySkills.textbox" | translate }}</span>
      <a href="#contact" class="blueButton">{{ "mySkills.button" | translate }}</a>
    </div>
  </main>
  <div class="skillShadowLeft">
    <img src="assets/img/shadows/skillShadowLeft.svg" alt="" />
  </div>
</section>
