@import "./../../../styles.scss";

section {
  @include dFlex();
  position: relative;
  color: white;
  width: 100vw;

  > main:not(:last-child) {
    @include dFlex($jc: space-between);
    max-width: 1440px;
    padding-top: 100px;
  }
}

.skillIconBox {
  @include dFlex($jc: start, $g: 123px);
  width: 60%;
  flex-wrap: wrap;
  z-index: 1;
  // flex-direction: column;
  > div {
    @include dFlex($g: 8px);
    width: 88px;
    height: 100px;
    flex-direction: column;
    > img {
      width: 60px;
      height: 60px;
      transition: transform 0.7s ease-in-out;
      &:hover {
        transform: rotate(360deg) scale(1.2);
      }
    }
    > span {
      font-weight: 700;
      font-size: 16px;
      line-height: 19.2px;
      text-align: center;
    }
  }
}

.skillTextBox {
  @include dFlex($g: 32px);
  width: 40%;
  flex-direction: column;
  max-width: 471px;
  position: relative;
  z-index: 2;
  &:not(:last-child) {
    align-items: end;
  }
  > h2 {
    margin: 0;
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    width: 100%;
    text-align: end;
    &::after {
      border: 2px solid $purple;
      width: 80px;
    }
  }
  > span {
    display: flex;
    text-align: end;
  }
  > a {
    @include dFlex();
    // position: absolute;
    top: 220px;
    transform: translateX(40px);
  }
}

.skillShadowLeft {
  position: absolute;
  height: 60%;
  left: 0;
  > img {
    object-fit: cover;
    object-position: right;
  }
}

@media (min-width: 1200px){
  .mediaButton{
    display: none;
  }
}

@media (max-width: 1200px) {
  main {
    flex-direction: column-reverse;
    align-items: start;
    > div {
      margin-bottom: 80px;
    }
  }
  .skillTextBox {
    align-items: end;
    width: calc(100% - 32px);
    margin: 0 16px;
    max-width: unset;
    > button {
      display: none;
    }
  }
  .skillIconBox {
    width: calc(100% - 32px);
    margin: 0 16px;
  }
}

@media (max-width: 700px) {
  .skillTextBox {
    > h2 {
      font-size: 45px;
      line-height: 54px;
    }
  }
}

@media (max-width: 550px) {
  .skillIconBox {
    justify-content: space-between;
    gap: 60px;
  }
}

@media (max-width: 440px) {
  .skillIconBox {
    gap: 40px;
  }
}
