<section>
  <div class="main">
    <div>
      <img src="assets/img/logo/nameLogoFooter.svg" alt="" />
      <span>&copy; Tim Widl 2024</span>
      <div>
        <a href="https://github.com/TimWidl94" target="_blank"
          ><img class="icon" src="assets/img/icons/githubIcon.svg" alt=""
        /></a>
        <a href="mailto:TimNowak195@gmail.com" target="_blank"
          ><img class="icon" src="assets/img/icons/emailIcon.svg" alt=""
        /></a>
        <a
          href="https://www.linkedin.com/in/tim-widl-153bb827a/"
          target="_blank"
          ><img class="icon" src="assets/img/icons/linkedinIcon.svg" alt=""
        /></a>
      </div>
    </div>
    <a routerLink="/impressum" routerLinkActive="active" class="impressum">Impressum</a>
  </div>
</section>
