<section id="contact">
  <div class="headline">
    <div class="customLineLeft"></div>
    <h2>{{ "contact.headline" | translate }}</h2>
    <div class="customLineRight"></div>
  </div>
  <div class="main">
    <div class="leftContentBox">
      <h3>{{ "contact.questionLine" | translate }}</h3>
      <span> {{ "contact.textBox" | translate }}</span>
      <span
        >{{ "contact.question" | translate }}
        <b> {{ "contact.contactMe" | translate }} </b></span
      >
    </div>
    <div class="rightContentBox">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="inputContainer">
          <input
            #name="ngModel"
            required
            [(ngModel)]="contactData.name"
            name="name"
            type="text"
            placeholder="{{ 'contact.placeholderName' | translate }}"
            [class.inputError]="!name.valid && name.touched"
            [class.inputCorrect]="(name.valid && name.touched) || name.valid"
            [class.inputTouched]="!name.touched || (name.touched && name.valid)"
          />
          <label *ngIf="name.valid" for="#name">
            <img src="assets/img/icons/correctIcon.svg" alt="" />
          </label>
          <label *ngIf="!name.valid && name.touched" for="#name">
            <img src="assets/img/icons/incorrectIcon.svg" alt="" />
          </label>
          <span
            *ngIf="!name.valid && name.touched"
            [@fadeIn]="!name.valid && name.touched"
            >{{ "contact.nameRequired" | translate }}</span
          >
        </div>
        <div class="inputContainer">
          <input
            #email="ngModel"
            [(ngModel)]="contactData.email"
            name="email"
            type="email"
            placeholder="{{ 'contact.placeholderEmail' | translate }}"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            [class.inputError]="!email.valid && email.touched"
            [class.inputCorrect]="(email.valid && email.touched) || email.valid"
            [class.inputTouched]="
              !email.touched || (email.touched && email.valid)
            "
          />
          <label *ngIf="email.valid" for="#email">
            <img src="assets/img/icons/correctIcon.svg" alt="" />
          </label>
          <label *ngIf="!email.valid && email.touched" for="#email">
            <img src="assets/img/icons/incorrectIcon.svg" alt="" />
          </label>
          <span
            *ngIf="!email.valid && email.touched"
            [@fadeInOut]="!email.valid && email.touched"
          >
            {{ "contact.emailRequired" | translate }}
          </span>
        </div>
        <div class="inputContainer">
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            name="message"
            id=""
            cols="30"
            rows="10"
            placeholder="{{ 'contact.placeholderMessage' | translate }}"
            style="height: 202px"
            required
            minlength="4"
            [class.inputError]="!message.valid && message.touched"
            [class.inputCorrect]="message.valid"
            [class.inputTouched]="
              !message.touched || (message.touched && message.valid)
            "
          ></textarea>
          <label *ngIf="message.valid" for="#message">
            <img src="assets/img/icons/correctIcon.svg" alt="" />
          </label>
          <label *ngIf="!message.valid && message.touched" for="#message">
            <img src="assets/img/icons/incorrectIcon.svg" alt="" />
          </label>
          <span
            *ngIf="!message.valid && message.touched"
            [@fadeInOut]="!message.valid && message.touched"
            >{{ "contact.messageRequired" | translate }}</span
          >
        </div>
        <div class="checkboxContainer">
          <div>
            <input
              type="checkbox"
              [(ngModel)]="privatPolicy"
              name="privatPolicy"
              id="privatPolicy"
              style="display: none"
              (click)="setAlreadyChecked()"
            />
            <label class="privatPolicyLabel" for="privatPolicy">
              <div
                id="checkboxBackground"
                class="hoverPrivatPolicy checkboxBackground"
              >
                <img
                  *ngIf="!privatPolicy"
                  [@fadeIn]="!privatPolicy"
                  src="assets/img/icons/checkboxUncheckedIcon.svg"
                  alt="checkboxUncheckedIcon"
                />
                <img
                  *ngIf="privatPolicy"
                  [@fadeIn]="privatPolicy"
                  src="assets/img/icons/checkboxCheckedIcon.svg"
                  alt="checkboxUncheckedIcon"
                />
              </div>
            </label>
            <p class="privatPolicyText">
              {{ "contact.privatPolicyFirst" | translate }}
              <a
                href="/app-privacy-policy"
                routerLink="/app-privacy-policy"
                routerLinkActive="active"
                id="privatPolicyLink"
                >{{ "contact.privatPolicyLink" | translate }}</a
              >
              {{ "contact.privatPolicySecond" | translate }}
            </p>
          </div>
          <span
            *ngIf="alreadyChecked && !privatPolicy"
            [@fadeInOut]="!privatPolicy"
          >
            {{ "contact.acceptPP" | translate }}
          </span>
        </div>
        <div>
          <button class="blueButton" [disabled]="!isFormValid(contactForm)">
            {{ "contact.button" | translate }}
          </button>
        </div>
      </form>
    </div>
    <a href="#landingpage" class="arrowImg"></a>
  </div>
  <div class="shadowBackground"></div>
  <div [class.userFeedbackBox]="userFeedback" [class.dNone]="!userFeedback">
    <span>{{ "contact.successMessage" | translate }}</span>
  </div>
</section>
