<div class="impressum">
  <h2>{{ "impressum.headline" | translate }}</h2>
  <p>{{ "impressum.paragraph5" | translate }}</p>
  <br />
  <p>
    Tim Widl <br />
    Gerhaußerfelstraße 5 <br />
    85435 Erding
  </p>
  <h3>{{ "impressum.Represented" | translate }}</h3>
  <p>Tim Widl</p>
  <h3>{{ "impressum.contact" | translate }}</h3>

  <p>
    Telefon: <a href="tel:+491749517277">01749517277</a> <br />
    E-Mail: <a href="mailto:TimNowak195@gmail.com">TimNowak195&#64;gmail.com</a>
  </p>
  <h3>{{ "impressum.disclaimer" | translate }}</h3>

  <h4>{{ "impressum.liabContent" | translate }}</h4>

  {{ "impressum.liabContentText" | translate }}

  <h4>{{ "impressum.liabLink" | translate }}</h4>

  {{ "impressum.liabLinkText" | translate }}

  <h4> {{ "impressum.copyright" | translate }}</h4>

  {{ "impressum.copyrightText" | translate }}

  <h4>  {{ "impressum.dataProtectoin" | translate }}</h4>

  {{ "impressum.dataProtectoinText" | translate }}

  <h4>  {{ "impressum.googleAnalytic" | translate }}</h4>

  {{ "impressum.googleAnalyticText" | translate }}

  <div class="generatorLink">
    {{ "impressum.imprintFrom" | translate }}
    <a href="https://www.impressum-generator.de" target="_blank"
      >   {{ "impressum.imprintGenerator" | translate }}</a
    >
    {{ "impressum.imprintOf" | translate }}
    <a
      href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/"
      rel="nofollow"
      target="_blank"
      >Kanzlei Hasselbach, Frankfurt</a
    >
  </div>
</div>
