<div class="privatPolicy">
  <h2 class="wp-block-heading">{{ "privatPolicy.headline" | translate}}</h2>
  <div class="generalText">
    <p>
      {{ "privatPolicy.generalText1" | translate}}
    </p>

    <p>
      {{ "privatPolicy.generalText2" | translate}}
    </p>

    <p>
      {{ "privatPolicy.generalText3" | translate}}
    </p>
  </div>
  <div class="structureBox">
    <p>{{ "privatPolicy.structure" | translate}}</p>

    <p>
      {{ "privatPolicy.structure1" | translate}}<br />
      {{ "privatPolicy.structure2" | translate}}<br />
      {{ "privatPolicy.structure3" | translate}}
    </p>
  </div>
  <h3 class="wp-block-heading">
    {{ "privatPolicy.informationHeadline" | translate}}
  </h3>

  <p>
    {{ "privatPolicy.informationText" | translate}}
  </p>
  <div class="contactDataBox">
    <p>Tim Widl</p>
    <p>Gerhaußerfelstraße 5</p>
    <p>85435 Erding</p>

    <p>Telefon: 01749517277<br />E-Mail: TimNowak195&#64;gmail.com</p>
  </div>
  <h3 class="wp-block-heading">    {{ "privatPolicy.rightsHeadline" | translate}}</h3>

  <p>
    {{ "privatPolicy.rightsText1" | translate}}
  </p>

  <ul>
    <li>
      {{ "privatPolicy.rightsText2" | translate}}
    </li>

    <li>
      {{ "privatPolicy.rightsText3" | translate}}
    </li>

    <li>
      {{ "privatPolicy.rightsText4" | translate}}
    </li>

    <li>
      {{ "privatPolicy.rightsText5" | translate}}
    </li>

    <li>
      {{ "privatPolicy.rightsText6" | translate}}
    </li>
  </ul>

  <p>
    {{ "privatPolicy.rightsText7" | translate}}
  </p>

  <p>
    <strong
      >{{ "privatPolicy.rightsText8" | translate}}</strong
    >
  </p>

  <h3 class="wp-block-heading"> {{ "privatPolicy.dataProcessingHeadline" | translate}}</h3>

  <p>
    {{ "privatPolicy.dataProcessingText" | translate}}
  </p>
  <h4 class="jet-listing-dynamic-field__content">
    {{ "privatPolicy.contactHeadline" | translate}}
  </h4>
  <p>
    {{ "privatPolicy.contactText1" | translate}}
  </p>
  <p>{{ "privatPolicy.contactText2" | translate}}</p>
  <p>
    {{ "privatPolicy.contactText3" | translate}}
  </p>

  <p class="namingBox">
    <a
      href="https://www.generator-datenschutzerklärung.de"
      target="_blank"
      rel="noopener"
      > {{ "privatPolicy.linkToSample" | translate}}</a
    >
    {{ "privatPolicy.the" | translate}}
    <a
      href="https://www.bewertung-löschen24.de"
      rel="nofollow noopener"
      target="_blank"
      >    {{ "privatPolicy.nameOfSamplePartner" | translate}}</a
    >
  </p>
</div>
