@import "./../../../styles.scss";

section {
  @include dFlex($ai: start);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  gap: 100px;
  > main {
    @include dFlex($jc: space-between);
    width: 100%;
    max-width: 1440px;
    padding: 100px 0;
    > div {
      @include dFlex();
      &:not(:last-child) {
        flex-direction: column;
        gap: 35px;
        margin-left: 80px;
      }

      > h2 {
        margin: 0;
        font-weight: 700;
        font-size: 90px;
        line-height: 108px;
        color: $textColor;
      }
      > span {
        max-width: 471px;
        color: $textColor;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
      }
    }
  }
}

.aboutMeContentBox {
  @include dFlex($g: 35px);
  flex-direction: column;

  > div {
    @include dFlex($g: 35px);
    > img {
      width: 50px;
      height: 50px;
      padding: 0 2px;
      gap: 10px;
      &:hover {
        transform: scale(1.2);
      }
    }
    > span {
      @include dFlex();
      max-width: 359px;
      // max-height: 76px;
      color: $textColor;
      font-weight: 400;
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}

.roundImgRightBox {
  max-width: 453px;
  width: 453px;
  max-height: 453px;
  height: 453px;
  border: 3px solid $blueText;
  border-radius: 50%;
  background-image: url(./../../../assets/img/mePictures/aboutMePicture.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.borderLineRight {
  border: 2px solid $blueText;
  width: 200px;
}


@media (max-width: 1250px){
  .borderLineRight{
  width: 150px;
  }
}

@media (max-width: 1200px){
  section{
    z-index: 2;
  }
  .imgBox{
    display: none !important;
  }
  main{
    justify-content: center !important;
    >div{
      margin: 0 16px!important;
      width: 100%;
      align-items: start !important;
      >h2{
      }
      >span{
        max-width: 800px !important;
      }
      >div{
        >div{
          justify-content: start;
        }
      }
    }
  }
}

@media (max-width: 700px){
main{
  >div{
    >h2{
      font-size: 45px !important;
      line-height: 54px !important;
    }
    >span{
      font-size: 16px !important;
      line-height: 19.2px !important;
    }
  }
}


}

