@import "./../../../styles.scss";

section {
  @include dFlex();
  width: 100%;
  height: calc(100vh - 106px);
  flex-direction: column;
  overflow: hidden;
  >div{

  }
}

.main{
  @include dFlex();
  width: 100%;
  max-width: 1440px;
}

.mainContent {
  @include dFlex($ai: normal);
  width: 100%;
  max-width: 1440px;
  height: 80%;
  position: absolute;
  top: 106px;
}

.imgBox {
  @include dFlex();
  // background-color: green;
  width: 40%;
  max-width: 800px;
  > img {
    @include dFlex();
    object-fit: cover;
    width: 100%;
    z-index: 1;
  }
}

.imgShadow {
  position: absolute;
  top: 30px;
  left: -100px;
  z-index: 0 !important;
  width: 60% !important;
}

.textBox {
  @include dFlex();
  width: 60%;
  height: 100%;
  // background-color: purple;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  > div {
    @include dFlex();
    max-height: 172px;
    max-width: 718px;
    > p {
      @include dFlex();
      font-size: 64px;
      line-height: 76.8px;
      font-weight: 400;
      max-width: 152px;
      max-height: 63px;
      transform: rotate(270deg);
      color: white;
      white-space: nowrap;
      margin: 0;
    }
    > div {
      @include dFlex($ai: start);
      flex-direction: column;
    }
  }
  > button {
    position: absolute;
    top: 513px;
  }
}

.nameText {
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
  max-width: 620px;
  max-height: 108px;
  color: $textColor;
}

.customNameText {
  font-weight: 400;
  font-size: 58px;
  line-height: 69.6px;
  max-height: 70px;
  max-width: 619px;
  white-space: nowrap;
  color: $purple;
}

.iconBox {
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 2;
  @include dFlex($jc: start, $g: 40px);
  > div {
    border: 2px solid $purple;
    width: 100px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
  > img {
    width: 30px;
    height: 29.26px;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
  > span {
    color: $textColor;
    font-weight: 400px;
    font-size: 23px;
    line-height: 27.6px;
  }
}

.backgroundShadow {
  position: absolute;
  top: 600px;
  left: 0;
  max-width: 100vw;
  width: 100%;
  height: auto;
  z-index: 1;
  overflow-y: hidden;
}

.scrollDownBox {
  position: absolute;
  @include dFlex($jc: space-between);
  bottom: 30px;
  right: 20px;
  z-index: 3;
  flex-direction: column;
  gap: 8px;
  max-height: 105px;
  height: 100px;
  animation: scrollTop 1.5s ease-in-out;
  animation-iteration-count: infinite;
  > p {
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    color: $textColor;
    transform: rotate(90deg);
    margin: 0;
  }
  > img {
    width: 16px;
    height: 16px;
  }
}

@keyframes scrollTop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.purpleAboutMeShadow {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: -650px;
  z-index: 2;
  overflow: hidden;
  > img {
    object-fit: cover;
  }
}
