<section>
  <div class="main">
    <div class="mainContent">
      <div class="imgBox">
        <img src="assets/img/mePictures/personalImg.png" alt="" />
        <img
          class="imgShadow"
          src="assets/img/shadows/imgBackgroundShadow.svg"
          alt=""
        />
      </div>
      <div class="textBox">
        <div>
          <p>I am</p>
          <div>
            <span class="nameText">Tim Widl</span>
            <span class="customNameText">FRONTEND DEVELOPER</span>
          </div>
        </div>
        <button class="blueButton">Let´s talk!</button>
      </div>
    </div>
    <div class="iconBox">
      <div></div>
      <img src="assets/img/icons/githubIcon.svg" alt="" />
      <img src="assets/img/icons/emailIcon.svg" alt="" />
      <img src="assets/img/icons/linkedinIcon.svg" alt="" />
      <span>TimWidl195&#64;gmail.com</span>
    </div>
    <img class="backgroundShadow" src="assets/img/shadows/vector2.svg" alt="" />
    <div class="scrollDownBox">
      <p>Scroll down</p>
      <img src="assets/img/icons/arrowDownIcon.svg" alt="" />
    </div>
    <div class="purpleAboutMeShadow">
      <img src="assets/img/shadows/purpleAboutMeShadow.svg" alt="" />
    </div>
  </div>
</section>
